
@font-face {
    font-family: 'Gunfighter Academy';
    src: url('GunfighterAcademy-Regular.woff2') format('woff2'),
        url('GunfighterAcademy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* latin-ext */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url('libre_baskerville_latin_extended.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url('libre_baskerbille_latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  padding-top: 3rem;
  background-color: #FFFAF0;
  font-family: 'Libre Baskerville',serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.company-name {
	color: #fff;
	text-align: center;
	top: 33%;
	position: relative;
	font-size: 5vw;
	font-family: 'Gunfighter Academy';
}

@media (max-width: 768px) {
  .company-name {
	  font-size: 12vw;
  }
}

.buy-button {
	color: #926d33;
    text-align: center;
    top: 54%;
    position: relative;
    margin: 0 auto;
    width: 12%;
    font-size: 1rem;
    background-color: #ffffff;
    border-radius: 2px;
    padding: 8px;
    font-weight: 400;
    display: block;
	transition: all 0.5s ease 0s;
}

.rating-banner {
    top: 54%;
    position: relative;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.rating-banner-text {
    display: inline-block;
    font-size: 1.5rem;
    padding: 12px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: #d7c39f4a;
}

.rating-link {
    text-decoration: underline;
}

blockquote {
    font-family: Georgia, serif;
    position: relative;
    margin: 0.5em;
    padding: 0.5em 2em 0.5em 3em;
}
/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */
blockquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 4em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
}
blockquote:after {
    font-family: Georgia, serif;
    position: absolute;
   /* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
    float:right;
    font-size:4em;
    line-height: 1;
    right:0;
    bottom:-0.5em;
    content: "\201D";
}
blockquote footer {
    padding: 0 2em 0 0;
    text-align:right;
}
blockquote cite:before {
    content: "\2013";
}

#button-buy:hover {
	color: #ffffff;
	background-color: #caa875;
	text-decoration: none;
}

@media (max-width: 768px) {
  .buy-button {
	width: 45%;
  }
  
  #button-buy:hover {
	color: #6b4f23;
	background-color: #ffffff;
	text-decoration: none;
  }
}

.header-text {
	text-align: center;
    margin: 0 auto;
}

.story-text {
    width: 65%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.8;
    padding: 10px 0px 10px 0px;	
}

@media (max-width: 768px) {
  .story-text {
	  width: 80%;
  }
}

.small-nav {
	padding: .3rem 1rem;
}

.spacer {
	padding-top: 15px;
	padding-bottom: 15px;
}

.store-lead {
	margin-bottom: 1rem;
	font-weight: 300;
	font-size: 1.5rem;
	cursor: pointer;
}

.center-div-text {
	text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 100;
}

.store-list {
	padding-bottom: 1rem;
	display: none;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.social-media-icon {
	padding-left: 10px;
    padding-right: 10px;
    height: 35px;
}

.toggle-arrow {
	width: 1.5rem;
    height: 1.5rem;
    transition: transform .5s;
}

.toggle-arrow.active {
	transform: rotate(-180deg);
}
