
@font-face {
    font-family: 'Gunfighter Academy';
    src: url('GunfighterAcademy-Regular.woff2') format('woff2'),
        url('GunfighterAcademy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  padding-top: 3rem;
  background-color: #FFFAF0;
  font-family: 'Libre Baskerville',serif,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.company-name {
	color: #fff;
	text-align: center;
	top: 38%;
	position: relative;
	font-size: 5vw;
	font-family: 'Gunfighter Academy';
}

@media (max-width: 768px) {
  .company-name {
	  font-size: 10vw;
  }
}

.buy-button {
	color: #fff;
    text-align: center;
    top: 54%;
    position: relative;
    margin: 0 auto;
    width: 12%;
    font-size: 1rem;
    background-color: #926d33;
    border-radius: 2px;
    padding: 8px;
    font-weight: 400;
    display: block;
}

@media (max-width: 768px) {
  .buy-button {
	width: 45%;
  }
}


#button-buy:hover {
	color: #fff !important;
	background-color: #6b4f23;
	text-decoration: none;
}

.header-text {
	text-align: center;
    margin: 0 auto;
}

.story-text {
    width: 65%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.8;
    padding: 10px 0px 10px 0px;	
}

@media (max-width: 768px) {
  .story-text {
	  width: 80%;
  }
}

.small-nav {
	padding: .3rem 1rem;
}

.spacer {
	padding-top: 15px;
	padding-bottom: 15px;
}

.store-lead {
	margin-bottom: 0.5rem;
	font-weight: 300;
	font-size: 1.5rem;
}

.store-list {
	padding-bottom: 1rem;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.social-media-icon {
	padding-left: 10px;
    padding-right: 10px;
    height: 35px;
}
